* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
}

.container {
  background: #75d6a5;
  width: 500px;
  height: 500px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px #b8b9b8;

}

.menu button,
.quiz button,
.score button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background: #00572e;
  color: rgb(223, 226, 228);
  scale: 1.2;
  transition: .35s ease-in-out;
  /* transition-duration: 300ms; */
}

/* .choices {
  display: flex;
  flex-direction: column;
} */